.login-container {
  width:100%;
  align-items: center;
  text-align: center;
}

.login-container form {
  min-height:400px;
}

.login-header{
  font-size: 40px;
}

.fields{
  margin-bottom: 30px;
  width:272px;
  height:51px;
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.5s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fields:focus{
  outline:none;
  box-shadow: 0px 3px 6px #494949;
}

.submit{
  width:272px;
  height:50px;
  border:none;
  background-color: #494949;
  color:white;
  box-shadow: 0px 3px 6px #494949;
  margin-bottom: 30px;
}

.signup{
  margin-top:40px;
}
