body {
	font : lem "Helvetica", sans-serif;
}
.button {
	background-color :#e0e0e0
	border :0;
	
	font-size:1em;
	padding : 8px 12px;
	
	vertical-align:  middle;
	cursor:pointer;
	border-radius : 20px;
	
}

.button.success{
	background-color :#0000CD;
	color: #fff;

}

.button.large{
	font-size:1.1em;
	padding: 20px 18px;
	
}

